<%- include('header')-%>

<div class="text-center center-div" id="login">
  <div class="container shadow p-3 mb-5 bg-body rounded border py-5">
    <div class="title pb-5">
      <h2 class="font-weight-bold">Login System</h2>
      <span>Login for the exisitng user</span>
      <% if(locals.logout){%>

      <div class="alert mt-3 alert-success text-center">Logout Successfully</div>
      <%}%>
    </div>
    <form action="/route/login" method="POST">
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          placeholder="Enter the email"
          name="email"
        />
        <small class="form-text text-muted text-left mt-3"
          >Register email address</small
        >
      </div>

      <div class="form-group py-4">
        <input
          class="form-control"
          type="password"
          placeholder="Enter the password"
          name="password"
        />
        <button type="submit" class="btn btn-success rounded-pill my-4">
          login
        </button>
      </div>
    </form>
  </div>
</div>

<%- include('footer')-%>
